<% form_for @perk_user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :perk_id %><br />
    <%= f.text_field :perk_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
