<% title "Achievement" %>

<p>
  <strong>Name:</strong>
  <%=h @achievement.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @achievement.description %>
</p>
<p>
  <strong>Value:</strong>
  <%=h @achievement.value %>
</p>

<p>
  <%= link_to "Edit", edit_achievement_path(@achievement) %> |
  <%= link_to "Destroy", @achievement, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", achievements_path %>
</p>
